body {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	line-height: 2px;
	font-weight: normal;
	letter-spacing: 0.4mm;
	color: #534F49;
	word-spacing: 0.8mm;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;
	color: #534F49;
	line-height: 17px;
	letter-spacing: 0.3mm;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #534F49;
	line-height: 17px;
	letter-spacing: 1mm;
	text-transform: capitalize;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #534F49;
	line-height: 17px;
	letter-spacing: 0.3mm;
	text-decoration: none;
}
a:active {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #2A2825;
	line-height: 17px;
	letter-spacing: 0.3mm;
	text-decoration: none;
}
a:hover {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #2A2825;
	line-height: 17px;
	letter-spacing: 0.3mm;
	text-decoration: none;
}
a:visited {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #2A2825;
	line-height: 17px;
	letter-spacing: 0.3mm;
	text-decoration: none;
}
