#lightbox{
	background-color:#f6f6f6;
	padding: 10px;
	/*border-bottom: 2px solid #c6c8ca;
	border-right: 2px solid #c6c8ca;*/
	}
#lightboxDetails{
	/*font-size: 0.8em;*/
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../graphics/overlay_20.png); }

* html #overlay{
	background-color: #f6f6f6;
	back\ground-color: transparent;
	background-image: url(blank.html);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../graphics/overlay_20.png", sizingMethod="scale");
	}
	