body {
	font-family: Arial;
	font-size: 10px;
	line-height: 2px;
	font-weight: normal;
	letter-spacing: 0.4mm;
	color: #312F2B;
	word-spacing: 0.8mm;
	background-image: none;
	background-repeat: repeat;
}
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: normal;
	color: #383531;
	line-height: 17px;
	letter-spacing: 0.6mm;
	font-style: normal;
	text-align: left;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #534F49;
	line-height: 28px;
	letter-spacing: 1mm;
	text-transform: capitalize;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #990000;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #990000;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #312F2b;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #312f2b;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
