h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	color: #000000;
	word-spacing: 0em;
	letter-spacing: 0em;
	line-height: 16px;
}
h3 {
	font-family: Helvetica;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #A7CFD1;
}
h4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #2A2A2A;
	letter-spacing: 5px;
	word-spacing: 0em;
	text-align: center;
}
h6 {
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
	text-transform: none;
	color: #CCCCCC;
}
body {
	background-color: #EFEFEF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #0F0F0F;
}
a:link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
a:visited {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
a:hover {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
	font-weight: bolder;
}
a:active {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #CC0000;
	text-decoration: none;
}
h5 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #2A2A2A;
	letter-spacing: 5px;
	word-spacing: 0em;
	text-align: center;
}
