body {
	font-family: Arial;
	font-size: 10px;
	line-height: 2px;
	font-weight: normal;
	letter-spacing: 0.4mm;
	color: #312F2B;
	word-spacing: 0.8mm;
	background-image: url(../Images/The%20Glossary/Background.jpg);
	background-repeat: repeat;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: normal;
	color: #000000;
	line-height: 18px;
	letter-spacing: 0.3mm;
	font-style: normal;
	text-align: left;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #CC0000;
	line-height: 34px;
	letter-spacing: 0.8mm;
	text-transform: none;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #990000;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #990000;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #312F2b;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #312f2b;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bolder;
	color: #CC0000;
	line-height: 22px;
	letter-spacing: 0.4mm;
	text-transform: none;
}
h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 24px;
	letter-spacing: 0.4mm;
	text-transform: none;
	text-align: center;
}
