body {
	font-family: Arial;
	font-size: 10px;
	line-height: 2px;
	font-weight: normal;
	letter-spacing: 0.4mm;
	color: #312F2B;
	word-spacing: 0.8mm;
	background-image: url(../Images/Trans%20Mittere/TMBackground.jpg);
	background-repeat: repeat;
	background-position: 300px 1500px;
}
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: normal;
	color: #CC9966;
	line-height: 16px;
	letter-spacing: 0.3mm;
	font-style: normal;
	text-align: left;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #CC8E25;
	line-height: 17px;
	letter-spacing: 1mm;
	text-transform: capitalize;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF9900;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
	text-align: left;
}
a:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF9900;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF9966;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
a:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC6600;
	line-height: 17px;
	letter-spacing: 0.6mm;
	text-decoration: none;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: bolder;
	color: #CC8E25;
	line-height: 17px;
	letter-spacing: 0.5mm;
	text-transform: uppercase;
}
h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #A5721D;
	line-height: 2px;
	letter-spacing: 0.2mm;
	text-transform: none;
}
h4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #CC9933;
	line-height: 12px;
	font-style: normal;
	text-align: right;
}
