body {
color:#666666;
background-color:#e1e1e1;
font-family:"Gill Sans MT", Arial;
font-size:12px;
padding:17px 0px 0px 0px;
margin:0;
text-align:center;
width:100%;
line-height:14px;

}
#Container
{
    width:882px;
    margin: 0 auto;
    padding:0 ;
    text-align:left;
	/*border: 1px solid #00ff00;*/
	overflow:hidden;
	background-image:url(/graphics/content_background.gif);
	background-position:0px 3px;
	background-repeat:repeat;
}

#FooterLinks {
	clear:both;
	width:882px;
    margin: 0 auto;
    padding:10px 0px 0px 0px ;
	text-align:center;
	color:#ff0000;
	text-transform:uppercase;
}
#FooterCenter {
	width:641px;
	margin: 0 auto;
	
}
#FooterCenter div {
	padding:0px 16px 12px 16px;
	float:left;
}
#FooterCenter .VerticalDivider {
	background-image:url(/graphics/footer_link_divider.gif);
	background-position:0px 3px;
	background-repeat:no-repeat;
}
#FooterLinks a:link, #FooterLinks a:visited, #FooterLinks a:active  {
	color:#333333;
}
#FooterLinks a:hover {
	text-decoration:none;
	color:#ff0000;
}
#Container2
{
	/*background-color:#ffffff;*/
	padding:0;
	margin:0;
	height:100%;
	margin:0px 2px 0px 2px;
	overflow:hidden;

}

.TopBorder {
	background-image:url(/graphics/border.gif);
	background-position:-2px 0px;
	background-repeat:repeat;
	/*line-height:2px;*/
	width:878px;
	height:2px;
	overflow:hidden;
}
.BottomBorder {
	background-image:url(/graphics/border2.gif);
	background-position:-1px 0px;
	background-repeat:repeat;
	height:2px;
	line-height:2px;
	width:100%;
	clear:both;
	overflow:hidden;
	font-size:1px;
}
#banner
{
	/*border:1px solid #ff0000;*/
    position:relative;
	overflow:hidden;
	width:878px;
	height:133px;
	float:right;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px ;
    /*text-align:right;*/
}
#BannerText{
	position:absolute;
	top:33px;
	left:15px;
}
#menu{
	clear:right;
	margin:0;
	overflow:hidden;
	background-position:0px 0px;
	background-repeat:no-repeat;
	/*background-image:url(/graphics/menu_background_current.gif);*/
	height:23px;
	font-size:12pt;
	text-transform:uppercase;
	padding:12px 0px 0px 6px;
	color:#ff0000;
	width:872px;
	
}
#MenuOver{
	padding:0;
	margin:0;
	height:23px;
	width:876px;
	overflow:hidden;

	/*z-index:10;*/
	
	/*background-image:url(/graphics/menu_background_current.gif);*/
	background-position:-6px -12px;
	background-repeat:no-repeat;
}

.MenuImageHome {
	background-image:url(/graphics/menu_background_home.gif);
}
.MenuImageCurrent {
	background-image:url(/graphics/menu_background_current.gif);
}
.MenuImageAbout {
	background-image:url(/graphics/menu_background_about.gif);
}
.MenuImagePress {
	background-image:url(/graphics/menu_background_press.gif);
}
.MenuImagePublications {
	background-image:url(/graphics/menu_background_publications.gif);
}
.MenuImagePast {
	background-image:url(/graphics/menu_background_past.gif);
}

#menu .MenuItem{
	width:136px;
	
	/*border:1px solid #0000ff;*/
	float:left;
	text-align:center;

}
#menu .MenuExtraSpacer{
	width:43px;
	/*border:1px solid #00ffff;*/
	float:left;
	text-align:center;

}

#menu a:link, #menu a:visited, #menu a:active  {
	width:130px;
	height:20px;
	display:block;
	color:#666666;

}

#menu a:hover {
	text-decoration:none;
	color:#ff0000;
}

#pagespacer{
	float:left;
	height:300px;
	width:1px;
	font-size:1px;
	float:left;
	
}
#HolderBox {
	color:#333333;
    float:left;
    width:878px;
	/*height: 296px;*/
    text-align:left;
    margin: 0 auto;
    padding-top:12px;
    /*border:1px solid #CCCCCC;   */
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	min-height:350px;

	
}
.ClearingDiv{
	clear:both;
	height:1px;
	font-size:1px;
	line-height:1px;
}



.HolderBoxHome{
	background-color:#cbcab5;
	margin:0;
	padding:0;
}
.HolderBoxCurrent{
	background-color:#b8bda3;
}
.HolderBoxAbout{
	background-color:#b6b389;
}
.HolderBoxPast{
	background-color:#b6c49b;
	margin:0;
	padding:0;
}
.HolderBoxAboutffffff{
	background-color:#ffffff;
}


.HolderBoxNotesHome{
	background-image:url(/graphics/notes_background_home.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom:16px;
}
.HolderBoxNotesCurrent{
	background-image:url(/graphics/notes_background_current.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom:40px;
}
.HolderBoxNotesPast{
	background-image:url(/graphics/notes_background_past.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	padding-bottom:40px;
}
table {
	border-collapse : collapse;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
td {
	vertical-align:top;
	margin : 0;
}
#HolderTable{
	height:100%;

	
	
}

/*#HolderTable td{
	

	
}*/
#LeftHandColumn{
	padding:0px 0px 0px 11px;
	width:223px;
	color:#333333;
}

#LeftHandColumn h2{
	color:#ff0000;
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px 0px 12px 0px;
	padding:0px;
	line-height:28px;
	

}

#LeftHandColumn h2 a:link, #LeftHandColumn h2 a:visited, #LeftHandColumn h2 a:active {
	color: #977230;
	/*width:158px;*/
	display:inline-block;
	/*float:right;*/


}
#LeftHandColumn h2 a:hover{
	color: #ff0000;
	text-decoration:none;

}

.AboutSideMenuHeadings{
	font-size:24px;
	margin:0px 0px 12px 0px;
	line-height:32px;
	color: #ff0000;
	font-weight:bold;
}


.AboutSideMenuHeadings a:link, .AboutSideMenuHeadings a:visited, .AboutSideMenuHeadings a:active {
	
	/*width:158px;*/
	display:inline-block;
	/*float:right;*/
	color: #977230;
	/*border:1px solid #00ff00;*/
	padding:0px 35px 0px 0px;

}
.AboutSideMenuHeadings a:hover{
	color: #ff0000;
	text-decoration:none;
	
}




#LeftHandColumn .caption {
	padding:5px 2px 0px 0px;
}

.VerticalDash{
	background-image:url(/graphics/vertical_dash.gif);
	background-position:top;
	background-repeat:repeat-y;
	font-size:1px;
	width:1px;
	margin:0;
	padding:0;
	
}
.HorizontalDash{
	background-image:url(/graphics/horizontal_dash.gif);
	line-height:1px;
	font-size:1px;
	height:1px;
	background-position:top;
	background-repeat:repeat-x;
	clear:left;
	
}


#MainTable {
	width:621px;
	padding:0px 0px 0px 13px;

}
#MainTable h1 {
	font-size:25px;
	color:#ff0000;
	margin: 9px 0px 10px 10px;
	padding: 0px 0px 0px 0px;
}
#MainTable h2{
	color:#333333;
	margin:22px 0px 0px 8px;
	font-size:22px;
}
#MainTable h4{
	color:#333333;
	margin:20px 0px 12px 0px;
	font-size:14px;
}
#MainTable h5{
	color:#333333;
	margin:20px 0px 0px 0px;
	font-size:14px;
}
#MainTable h6{
	display:inline;
	font-weight:normal;
	font-size:15px;
}
#MainTable h7{
	display:inline;
	font-weight:normal;
	font-size:13px;
}
.ReviewsImageHolder{
	padding:0px 0px 0px 0px;
}
.ReviewsImageHolder img{
	padding:0px 0px 2px 0px;
}
.ReviewsImageHolder .ReviewsImageCaption{
	float:left;
	width:180px;
	padding:14px 12px 12px 0px;
	font-size:10px;
}

.MainTableContent{
	margin:20px 30px 20px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#333333;

}
#Notes {
	clear:both;
	padding:44px 17px 44px 17px;
	font-size:13px;
	background-image:url(/graphics/notes_background_under.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
#Notes h2{
	margin:0px 0px 18px 0px;
}
.NotesHome {
	background-color:#ffded6;
	
}

.NotesCurrent{
	background-color:#ffffff;
}
.NotesPast{
	background-color:#ffffff;
}
#right_column{
	float:right;
	width:147px;
	padding:0px 8px 28px 0px;
	color:#898675;
	font-size:11px;
	line-height:12px;
}
#right_column h2 {
	font-size:16px;
}
#Calendar h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	color:#333333;
    margin:6px 0px 8px 0px;
	text-transform:none;
}
.CalendarText{
	padding:0px 0px 0px 2px;
}

#HomePageLeftSide{
	float:left;
	width:700px;
	margin: 0px 16px 0px 4px;
	color:#333333;

}
#HomePagePastPics{
	margin:2px 0px 6px 5px;
	/*overflow:hidden;
	height:230px;
	display:block;*/
	
}
#HomePagePastPics img{
	padding:0px 14px 5px 0px;
}
#HomePagePastPics div{
	float:left;
}
#HomePagePastPics h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	margin:10px 0px 0px 0px;
}
#HomePagePastPics h2 a:link, #HomePagePastPics h2 a:visited, #HomePagePastPics h2 a:active {
	color: #666666;
}
#HomePagePastPics h2 a:hover{
	color: #ff0000;
	text-decoration:none;
}
.HomePageProject{
	float:right;
	overflow:hidden;
}
.HomePageProject .caption{
	margin:0px 0px 0px 0px;
}
.HomePageProject h1{
	font-size:30px;
	line-height:30px;
	margin:0px 0px 4px 0px;
}
.HomePageProject .excerpt{
	font-size:11px;
	margin:0px 0px 0px 0px;
	line-height:13px;
}
	
.HomePageProject h1 a:link, .HomePageProject h1 a:visited, .HomePageProject h1 a:active {
	color: #F8EBAE;
	text-decoration:none;
}
.HomePageProject h1 a:hover{
	color: #ff0000;
	text-decoration:none;
}

.HomePageFirstProject{
	
	width:312px;
	
}
.HomePageOtherProjects{
	width:182px;
	margin:0px 10px 0px 0px;

}


.AboutMenuPic {
	position:relative;
	right:3px;
}
.PressPhotoImage{
	float:left;
	display:block;
	width:179px;
	height:200px;
	font-size:12px;
	padding:0px 4px 0px 0px;
	margin: 0px 0px 12px 0px;
	
	/*display:table-cell;
	vertical-align:bottom;*/
}
.PressPhotoImageInner{
	/*border:1px solid #00ff00;*/
	height:128px;
	display:block;
	margin:0;
	padding:0px 0px 0px 0px;
	position:relative;
}

.PressPhotoImage img{
	
	position:absolute;
	bottom:0px;
	padding:0;
	margin:0;	
}

.PressPhotoCaption{
	width: 156px;
	padding:8px 0px 8px 0px;
}
.PastTable {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
}
.PastTable h1 {
	font-size:26px;
	line-height:26px;
	margin:0px 0px 3px 0px;
}
.PastTable h2 {
	font-size:16px;
	line-height:16px;
	margin:3px 0px 10px 0px;
	color:#596644;
}
.PastTable h1 a:link, .PastTable h1 a:visited, .PastTable h1 h2 a:active{
	color:#596644;
}

.PastTable h1 a:hover{
	color: #ff0000;
	text-decoration:none;
}

.PastColumn{
	width:170px;
	overflow:hidden;
	padding:0px 8px 0px 10px;

}

.PastColumnWide{
	width:245px;
	padding:0px 8px 0px 10px;
}
.PastColumnWide h1 {
	font-size:36px;
	line-height:36px;
}
.PastColumnLast{
	width:210px;
	padding:0px 8px 0px 10px;	
}

.excerpt{
	padding:0px 0px 12px 1px;
}
.caption{
	text-transform:uppercase;
	text-align:right;
	margin:0px 8px 0px 0px;
	padding:0;
	font-size:10px;
}
#ProjectLHS h2{
	color:#787e81;
}

#WhiteBox {
	background-color:#ffffff;
	padding:10px 10px 10px 28px;
	margin:0px 0px 40px 0px;
}

#WhiteBox h1{
	color:#333333;
	margin:0px 0px 4px 2px;
	line-height:28px;
	
}
#WhiteBox h2{
	color:#333333;
	font-size:18px;
	margin:0px 0px 20px 0px;
	font-weight:normal;
}
.ViewMiniSite{
	border:2px solid #999999;
	padding:30px;
	font-size:20px;
	text-align:center;

}
.ExtraPadding{
	margin:14px 0px 0px 5px;
}
#PublicationsSideMenu{
	font-size:11px;
	margin:0px 0px 20px 0px;
}
#PublicationsSideMenu h2{
	color:#8c8a68;
}
#PublicationsSideMenu h3{
	font-size:14px;
	color:#333333;
	margin-bottom:4px;
	margin-top:26px;
}

#PublicationsContent img {
	float:left;
	margin:0px 0px 4px 0px;
}
#PublicationsContent h2 {
	margin:0px 0px 20px 0px;
}
.PublicationsCaption{
	float:left;
	width:200px;
	padding:0px 18px 12px 0px;
	font-size:10px;
}


#ProjectsTable{
	margin:0px 14px 0px 12px;
	
}


.ProjectSecondaryImage{
	/*float:right;*/
	margin:0px 0px 10px 24px;
}
.ProjectPageProject{
	/*float:right;*/
	/*overflow:hidden;*/
}
.ProjectImageHolder{
	float:right;
}
.ProjectImageHolder .caption{
	margin:0px 0px 6px 0px;
}
#ProjectsTable h1{
	float:left;
	font-size:30px;
	line-height:30px;
	margin:-4px 0px 7px 0px;
}


#ProjectsTable .excerpt{
	clear:left;
	font-size:11px;
	margin:0px 0px 0px 0px;
	line-height:13px;
}
	
#ProjectsTable h1 a:link, #ProjectsTable h1 a:visited, #ProjectsTable h1 a:active {
	color: #ffffff;
	text-decoration:none;
}
#ProjectsTable h1 a:hover{
	color: #ff0000;
	text-decoration:none;
}

.ProjectPageFirstProject{
	width:220px;
	padding:0px 12px 0px 0px;
}
.ProjectPageSecondProject{
	padding:0px 0px 0px 13px;
}


.ProjectPageOtherProjects{
	width:220px;
	margin:0px 10px 0px 16px;

}
.TertiaryProjects img{
	padding:0px 0px 0px 12px;
}

.red{
	color:#FF0000;
}





h4
{
    color:#58585a;
    font-size:8pt;
    margin:0px 0px 10px 0px;
}





#BoxFooter
{
    height:23px;
    background-color:#c6c8ca;
    padding:0;
    margin:0;
    /*border:1px solid #ff0000;*/
    
}




p{
	margin-top:6px;
	margin-bottom:0px;
}

br{
line-height:5pt;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color:#ff0000;
}
a:hover {
	text-decoration:underline;
	color:#ff0000;
}


img{
    border:0;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

.smaller{
font-size:10px;
line-height:16px;
}

.spacer6px{
line-height:6px;
margin:0;
padding:0;
}
.spacer12px{
line-height:12px;
margin:0;
padding:0;
}
.spacer16px{
line-height:16px;
margin:0;
padding:0;
}

.spacersmall{
line-height:4px;
margin:0;
padding:0;
}

.displaytable{
	border-collapse : collapse;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	}
.displaytable th{
	vertical-align:top;
	text-align : right;
	margin : 0;
}
	
.displaytable td{
	padding:5px 0px 0px 0px;
	vertical-align:top;
	width : 75%;
	margin : 0;
}

form {
	display:inline;
}
textarea, input {
	border:0px solid #ff0000;
	font-family:HelveticaNeue-Light,HelveticaNeue,Helvetica,Arial;
	width:100%;
	font-size:8pt;
	color:#767678;
	
}

.divider{
	line-height:4px;
	margin:0px 0px 4px 0px;
	background-color:#333333;
	width:100%;
	clear:both;
}
.DividerNarrow{
	line-height:1px;
	margin:0px 0px 4px 0px;
	background-color:#999999;
	width:100%;
	clear:left;
}
.errormessage {
	width:190px;
	float:left;
	background-color:#f6f6f6;
	border:1px solid #ef493a;
	padding: 6px 10px 8px 10px;
}
.errormessage ul {
	margin:4px 0px 8px 0px;
	padding:0px 0px 0px 24px;
}
.errormessage li {
	margin:0px;
	padding:0px;
	/*list-style-type: none;*/
	padding:1px 0px 0px 0px;
}

.ArrowHome1 a:link, .ArrowHome1 a:visited, .ArrowHome1 a:active{
	/*width:33px;*/
	height:39px;
	line-height:35px;
	overflow:hidden;
	display:block;
	/*float:right;*/
	/*width:200px;*/
	background-image:url(/graphics/arrows/arrow_home1.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*border:1px solid #00ff00;*/
	padding:0;
	margin:-12px 0px 0px 0px;
}
.ArrowHome1 a:hover{
	background-position:bottom right;
	overflow:hidden;
}
.ArrowHome2 a:link, .ArrowHome2 a:visited, .ArrowHome2 a:active{
	/*width:33px;*/
	height:20px;
	width:17px;
	line-height:20px;
	overflow:hidden;
	display:block;

	float:right;
	/*width:200px;*/
	background-image:url(/graphics/arrows/arrow_home2.gif);
	background-repeat:no-repeat;
	background-position:top right;
	/*border:1px solid #00ff00;*/
	padding:0;
	margin:-20px 0px 4px 0px;
}
.ArrowHome2 a:hover{
	background-position:bottom right;
	overflow:hidden;
	text-decoration:none;
}
.email_link a:link, .email_link a:active, .email_link a:hover, .email_link a:visited {
	background:url(/graphics/arrows/arrow_home2.gif) top right no-repeat;
	height:16px;
	padding:2px 20px 2px 0;
	float:right;
	margin-right:12px;
}
.email_link a:hover {
	background-position: bottom right;
}
.ArrowCurrent a:link, .ArrowCurrent a:visited, .ArrowCurrent a:active{
	clear:right;
	font-size:30px;
	line-height:30px;
	margin:-4px 0px 7px 0px;
	font-weight:bold;
	color:#FFFFFF;
	width:190px;
	display:block;
	/*float:right;*/
	background-image:url(/graphics/arrows/arrow_current.gif);
	background-repeat:no-repeat;
	background-position:center right;
	/*border:1px solid #00ff00;*/
	padding:0px 30px 0px 0px;

}
.ArrowCurrent a:hover{
	background-image:url(/graphics/arrows/arrow_current_over.gif);
	background-position:center right;
	overflow:hidden;
	text-decoration:none;
	color:#FF0000;
}

.ArrowCurrent2 a:link, .ArrowCurrent2 a:visited, .ArrowCurrent2 a:active{
	height:48px;
	width:41px;
	line-height:20px;
	overflow:hidden;
	display:block;
	float:right;
	background-image:url(/graphics/arrows/arrow_current2.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding:0px 0px 0px 0px;
	margin:-20px 0px 0px 0px;

}
.ArrowCurrent2 a:hover{
	background-position:bottom right;
	overflow:hidden;
	text-decoration:none;
}
.ArrowPast1 a:link, .ArrowPast1 a:visited, .ArrowPast1 a:active{
	height:26px;
	width:22px;
	line-height:26px;
	overflow:hidden;
	display:block;
	float:right;
	background-image:url(/graphics/arrows/arrow_past1.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding:0px 0px 0px 0px;
	margin:-12px 0px 12px 0px;

}
.ArrowPast1 a:hover{
	background-position:bottom right;
	overflow:hidden;
	text-decoration:none;
}

.ArrowPast2 a:link, .ArrowPast2 a:visited, .ArrowPast2 a:active{
	color:#596644;
	font-size:31px;
	line-height:31px;
	clear:right;
	margin:0px 0px 0px 0px;
	font-weight:bold;
	width:158px;
	display:block;
	/*float:right;*/
	background-image:url(/graphics/arrows/arrow_past2.gif);
	background-repeat:no-repeat;
	background-position:center right;
	/*border:1px solid #00ff00;*/
	padding:0px 44px 0px 0px;

}
.ArrowPast2 a:hover{
	background-image:url(/graphics/arrows/arrow_past2_over.gif);
	background-position:center right;
	text-decoration:none;
	color:#FF0000;
}
.ArrowPast3 a:link, .ArrowPast3 a:visited, .ArrowPast3 a:active{
	color:#596644;
	font-size:31px;
	line-height:35px;
	clear:right;
	margin:-8px 0px 0px 0px;
	font-weight:bold;
	width:134px;
	display:block;
	/*float:right;*/
	background-image:url(/graphics/arrows/arrow_past3.gif);
	background-repeat:no-repeat;
	background-position:center right;
	/*border:1px solid #00ff00;*/
	padding:0px 30px 0px 0px;

}
.ArrowPast3 a:hover{
	background-image:url(/graphics/arrows/arrow_past3_over.gif);
	background-position:center right;
	text-decoration:none;
	color:#FF0000;
}




